<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.png') }}">
    <title>Nuweb - Marketing Web</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
<div class="bg-image"></div>

<div class="bg-text">
    <img class="logo" src="{{ url_for('static', filename='img/modern-white.png') }}" alt="Italian Trulli">
    <h1>Lancez votre Sommet Virtuel!</h1>
    <p>Pour discuter de votre projet, contactez-nous au 514-804-9436.</p>
</div>
</body>